<div class="container mx-auto mt-10 max-w-md bg-white p-6 rounded shadow">
    <h2 class="text-xl font-bold mb-4">Enviar Correo Electrónico</h2>
    <form (ngSubmit)="enviarCorreo()" [formGroup]="emailForm" class="space-y-4">
      <div>
        <label class="block font-medium ">Destino:</label>
        <input type="email" formControlName="destino" placeholder="correo@ejemplo.com" class="w-full border px-3 py-2 rounded"/>
      </div>
      <div>
        <label class="block font-medium">Asunto:</label>
        <input type="text" formControlName="asunto" placeholder="Escribe el asunto" class="w-full border px-3 py-2 rounded"/>
      </div>
      <div>
        <label class="block font-medium">CC:</label>
        <input type="email" formControlName="cc" placeholder="correo@ejemplo.com" class="w-full border px-3 py-2 rounded"/>
      </div>
      <div>
        <label class="block font-medium">Mensaje:</label>
        <textarea formControlName="mensaje" placeholder="Escribe tu mensaje" class="w-full border px-3 py-2 rounded"></textarea>
      </div>
      <button type="submit" class="w-full bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Enviar</button>
    </form>
  </div>